<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h5>About NarrowCast</h5>
        <p>NarrowCast is a platform for targeted content delivery and audience engagement.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/privacy">Privacy Policy</a></li>
          <li><a routerLink="/terms">Terms of Service</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us</h5>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 NarrowCast. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>