<footer class="neomorphic-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="neomorphic-text">About Us</h5>
        <p>NarrowCast is a platform for creating and sharing personalized content.</p>
      </div>
      <div class="col-md-4">
        <h5 class="neomorphic-text">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="neomorphic-link">Privacy Policy</a></li>
          <li><a href="#" class="neomorphic-link">Terms of Service</a></li>
          <li><a href="#" class="neomorphic-link">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="neomorphic-text">Connect With Us</h5>
        <div class="social-icons">
          <a href="#" class="neomorphic-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="neomorphic-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="neomorphic-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="neomorphic-icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <hr class="neomorphic-divider">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="neomorphic-text">&copy; 2023 NarrowCast. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>